*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
         url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
         url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
         url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Bold.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

div.container{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column; 
}

header.header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

menu.menu{
   display: flex;
   gap: 50px;
   
}

li.menu-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    padding: 8px 0 25px;
    border-bottom: 3px solid transparent;
}

li.menu-item.active{
   font-family: "Cera Pro Bold"; 
   border-color: #46A358
}

button.header-bth{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: "Cera Pro Medium";
}

.bth-link{
    color: #FFFFFF;
}

main.main{
    background: #F5F5F580 50%;
}

section.section{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

div.section-content{
    padding: 68px 40px;
    gap: 169px;
}
p.welcome{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

h1.title{
    font-family: "Cera Pro Bold";
    color: #3D3D3D;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h1.title span{
    color: #46A358;
}

p.text{
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
    color: #727272;

}

button.section-bth{
    background: #46A358;
    color: #fff;
    border-radius: 6px;
    padding: 11px 27px;
    font-family: "Cera Pro Medium";
    margin: 44px 0px 0px;
}

.image{
    background-image: url('/image/4575e3df52fa214db1f3ce519277860c13b11e21.png'); 
    position: relative;
    
}

.img-big{
    width: 450px;
    height: 450px;
    object-fit: contain;
}

.img-small{
    position: absolute;
    left: 55px;   
    bottom: 35px; 
}